.reviews-slider__author {
  display: flex;
  align-items: center;
}

.reviews__author--pic {
  margin-right: 30px;
}

.reviews__author--pic-wrapper {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
}

.author--pic {
  max-width: 75px;
  max-height: none;
}

.reviews__author--name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.reviews__author--pos {
  color: rgba($text-color, .3);
  font-weight: 600;
}