.block-section {
  background-color: rgba(243, 246, 248, 1);
  padding-top: 60px;
}

.block-title {
  display: flex;
  line-height: 20px;
  margin-bottom: 60px;

  &-name {
    font-size: 21px;
    color: #414c63;
    font-weight: bold;
    margin-right: 93px;
  }

  &-group {
    color: #383bcf;
    font-weight: 600;
  }
}

.block-add-group {
  display: flex;
  line-height: 20px;
}

.button-first {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}