.switch__menu {
  display: flex;

  
}

.switch__item {
  margin-right: 60px;
  line-height: 60px;
  cursor: pointer;

  &:hover {
    color: #383bcf;
    border-bottom: 3px #383bcf solid;
  }

  &:nth-child(2) {
    border-bottom: 3px #383bcf solid;
  }

  &:last-child {
    margin: 0;
  }
}